definition_version: 2
entities:
  streamlit_app:
    type: streamlit
    main_file: Smoothie_Order.py
    title: 無題 1
    query_warehouse: COMPUTE_WH
    compute_pool: SYSTEM_COMPUTE_POOL_CPU
    artifacts:
      - pyproject.toml
      - Smoothie_Order.py
      - .streamlit/config.toml
